@using projekatWeb.Models
@model IEnumerable<Korisnik>
@{
    ViewBag.Title = "Panel";
}

<h2 class="text-center">Korisnici</h2>

<div class="mb-4">
    <form action="~/Admin/PretragaKorisnika" method="post">
        <div class="d-flex align-items-center justify-content-start gap-2 flex-wrap mb-2">

            <div>
                <label>Ime korisnika</label>
                <input type="text" class="form-control mt-2" placeholder="Ime korisnika" name="Ime">
            </div>

            <div>
                <label>Prezime korisnika</label>
                <input type="text" class="form-control mt-2" placeholder="Prezime korisnika" name="Prezime">
            </div>

            <div>
                <label for="uloga" class="form-label">Tip aranzmana</label>
                <select class="form-control" name="uloga" id="uloga">
                    <option value="">Svi</option>
                    <option value="Turista">Turista</option>
                    <option value="Menadzer">Menadzer</option>
                </select>
            </div>
            <div class="mt-3">
                <button type="submit" name="akcija" value="pretrazi" class="btn btn-success mt-3">Pretraži</button>
                <button type="submit" name="akcija" value="osvezi" class="btn btn-danger mt-3">Osveži</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped-columns table-dark">
    <thead>
        <tr>
            <td>ID</td>
            <td>Korisnicko ime</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Uloga</td>
            <td>Datum rodjenja</td>
            <td>Pol</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.KorisnickoIme</td>
                <td>@item.Ime</td>
                <td>@item.Prezime</td>
                <td>@item.Email</td>
                <td>@item.Uloga</td>
                <td>@item.DatumRodjenja</td>
                <td>@item.Pol</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <a class="btn btn-success" href="~/Auth/RegistracijaRedirekcija">Dodaj novog mendazera</a>
</div>
