@using projekatWeb.Models
@using projekatWeb.DTOs
@model RezervacijaDto
@{
    ViewBag.Title = "Prikaz rezervacije";
}

<div class="container text-center">
    <div class="row bg-black bg-opacity-25 rounded">
        <h1 class="text-center text-decoration-underline">Aranzman: @Model.Aranzman.NazivAranzmana</h1>
        <div class="col-12 text-lg-start">
            <div class="container my-3">
                <div class="row">
                    <!-- Tekst -->
                    <div class="col-md-6">
                        <p><b>Destinacija:</b> @Model.Aranzman.Destinacija</p>
                        <p><b>Datum polaska:</b> @Model.Aranzman.DatumPolaska</p>
                        <p><b>Datum povratka:</b> @Model.Aranzman.DatumPovratka</p>
                        <p><b>Program:</b></p>
                        <p>@Model.Aranzman.ProgramAranzmana</p>
                        <p class="fw-bold">Opis: </p>
                        <p>@Model.Aranzman.OpisAranzmana</p>
                        <p><b>Maksimalan broj putnika:</b> @Model.Aranzman.MaksBrPutnika</p>
                        @switch (Model.Aranzman.TipAranzmana)
                        {
                            case TipAranzmana.nocenje_sa_doruckom:
                                {
                                    <p><b>Tip aranzmana: </b> Nocenje sa doruckom</p>
                                }
                                break;
                            case TipAranzmana.polupansion:
                                {
                                    <p>
                                        <b>Tip aranzmana: </b>Polupansion
                                    </p>
                                }
                                break;
                            case TipAranzmana.pun_pansion:
                                {
                                    <p>
                                        <b>Tip aranzmana: </b>Pun pansion
                                    </p>
                                }
                                break;
                            case TipAranzmana.all_inclusive:
                                {
                                    <p>
                                        <b>Tip aranzmana: </b>All inclusive
                                    </p>
                                }
                                break;
                            case TipAranzmana.najam_apartmana:
                                {
                                    <p>
                                        <b>Tip aranzmana: </b>Najam apartmana
                                    </p>
                                }
                                break;

                        }

                        @switch (Model.Aranzman.TipPrevoza)
                        {
                            case TipPrevoza.autobus:
                                {
                                    <p>
                                        <b>Tip prevoza: </b>
                                        Autobus
                                    </p>

                                }
                                break;
                            case TipPrevoza.avion:
                                {
                                    <p>
                                        <b>Tip prevoza: </b>
                                        Avion
                                    </p>
                                }
                                break;
                            case TipPrevoza.autobus_i_avion:
                                {
                                    <p>
                                        <b>Tip prevoza: </b>
                                        Autobus i avion
                                    </p>
                                }
                                break;
                            case TipPrevoza.individualan:
                                {
                                    <p>
                                        <b>Tip prevoza: </b>
                                        Individualan
                                    </p>
                                }
                                break;
                            case TipPrevoza.ostalo:
                                {
                                    <p>
                                        <b>Tip prevoza: </b>
                                        Ostalo
                                    </p>
                                }
                                break;
                        }

                        <div class="row">
                            <div class="col-6">
                                <h3 class="text-decoration-underline">Smestaj</h3>
                                <p><b>Naziv smestaja:</b> @Model.Smestaj.NazivSmestaja</p>
                                <p><b>Tip smestaja:</b> @Model.Smestaj.TipSmestaja</p>
                                <p><b>Broj zvezdica:</b> @Model.Smestaj.BrojZvezdica</p>
                                <p><b>Osobe sa invaliditetom:</b> @(Model.Smestaj.OsobeSaInvaliditetom ? "Da" : "Ne")</p>
                                <p><b>Spa centar:</b> @(Model.Smestaj.SpaCentar ? "Da" : "Ne")</p>
                                <p><b>Bazen:</b> @(Model.Smestaj.Bazen ? "Da" : "Ne")</p>
                            </div>
                            <div class="col-6">
                                <h3 class="text-decoration-underline">Smestajna jedinica</h3>
                                <p><b>Cena:</b> @Model.SmestajnaJedinica.CenaJedinice</p>
                                <p><b>Dozvoljen broj gostiju:</b> @Model.SmestajnaJedinica.MaksBrOsoba</p>
                                <p><b>Osobe sa invaliditetom:</b> @(Model.SmestajnaJedinica.PetFriendly ? "Da" : "Ne")</p>
                            </div>
                        </div>
                        @if (ViewBag.Korisnik != null && ViewBag.Korisnik.Uloga == Uloga.Turista)
                        {
                            <div class="container text-end d-flex justify-content-end gap-2">
                                <a href="~/Turista/Panel" class="btn btn-lg btn-danger text-end">Nazad</a>
                            </div>
                        }
                        else
                        {

                            <div class="container text-end d-flex justify-content-end gap-2">
                                <a href="~/Menadzer/Panel" class="btn btn-lg btn-danger text-end">Nazad</a>
                            </div>
                        }
                    </div>

                    <!-- Slika -->
                    <div class="col-md-6 text-center">
                        <img src="@Url.Content(Model.Aranzman.PosterAranzmanaUrl)"
                             alt="Poster aranzmana"
                             class="rounded img-thumbnail w-75" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

